@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

/*>>> Personalizações Globais <<<*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alert{
    width: 100%;
    max-width: 75%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 30px;
    margin: -100px 0 50px 0;
    font-size: 1.8rem;
}

.error{
    border-color: #f55767;
    color: #FFF;
    background-color: rgba(248, 69, 69, 0.5);
    
}

.button{
    margin-top: 16px;
}

form{
    width: 100%;
    height: 70vh;
    margin: auto auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    border-radius: 15px;
    background: rgb(252, 251, 251);
}

.effect-form{
    width: 100%;
    height: 70vh;
    max-width: 1000px;
    margin: auto auto;   
    border-radius: 20px;
    position: relative;
}

.effect-form::before{
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient(0deg, rgb(55, 169, 250), aqua);
    z-index: -2;
    filter: blur(20px);
}

.login{
    width: 100%;
    max-width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    border-radius: 15px 0 0 15px;
}

.desc{
    width: 100%;
    height: 100%;
    max-width: 40%;
    display: flex;
    padding: 20px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(360deg,rgb(55, 169, 250),aqua);
    filter: brightness(95%);
    border-radius: 0 15px 15px 0;
    color: white;  
}

.desc p{
    font-size: 1.5rem;
    margin-top: 10px;
    text-align: center;
}

div.input{
    width: 75%;
    margin-top: 24px;
    position: relative;
    border-radius: 50px;
    z-index: 1;
}

.input::before{
    background: linear-gradient(-45deg,rgb(55, 169, 250),aqua);
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    content: '';
    top: -1px;
    left: -1px;
    position: absolute;
    border-radius: 50px;
    z-index: -1;
}

input{    
    border-radius: 50px;
    margin: 0 auto;
    border: none;
    width: 100%;
    padding: 16px 60px;   
    font-size: 1.2rem;
    outline: none;
    transition: .2s;
    color: rgb(55, 169, 250);
}

::-webkit-input-placeholder {
    color: rgb(55, 169, 250);
    font: 12px verdana, arial, sans-serif;
 }

.focus{
    box-shadow: -1px -1px 10px aqua,
                2px 2px 10px rgb(55, 169, 250);
}

.focusError{
    box-shadow: -1px -1px 10px rgb(250, 106, 106),1px 1px 10px rgb(247, 23, 23);
}

.blur{
    box-shadow: none;
}

input[type=email]{
    background-image: url("../img/email-open.png");
    background-repeat: no-repeat;
    background-size: 3.0rem;
    background-position: center left 20px;
}

input[type=password]{
    background-image: url("../img/impressao-digital.png");
    background-repeat: no-repeat;
    background-size: 3.0rem;
    background-position: center left 20px;
}

.login button{
    width: 37.5%;

    margin-top: 25px;
    padding: 10px 0;

    border-radius: 50px;
    border: none;
    background: linear-gradient(-45deg,rgb(55, 169, 250),aqua);   
    background-size: 200%; 
    background-position: center;

    outline: none;

    transition: .5s;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: -5px 5px 20px #ccc;
}

.login button:hover{
    background-position: right;
}

input ~ label{
    position: absolute;
    top: 18px;
    left: 100px;
    color: rgb(55, 169, 250);
    transition: .4s;
}

.digital{
    width: 100px;
    fill: transparent;
    stroke: black;
    stroke-width: 2;
    stroke-dasharray: 1260;
    stroke-dashoffset: 0;
    animation: 3s digital 2 alternate;
}

#links-login{
    width: 75%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 15px auto;
}

#links-login *{
    font-size: 1.6rem;
    color: rgb(55, 169, 250);
}

/*Efeito para SVG da digital*/
@keyframes digital{
    from{
        stroke: black;
        stroke-dashoffset: 1260;
        fill: black linear;
    }
    to{
        /*stroke: green;*/
        stroke-dashoffset: 0;
        /*fill: green;*/
    }

}

a{
    color: rgb(95, 157, 137);
    font-weight: 600;
}

.legenda{
    background: none !important;
}

#central{
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 200px;
    text-align: center;
}

header img{
    width: 200px;
    margin-top: 50px;    
}

form a{
    color: rgb(95, 157, 137);
    font-weight: lighter;
    text-decoration: none;
}

form span{
    margin: 0 30px;    
}

form > input{
    margin: 20px 0;
    outline: none;
    font-weight: 500;
    color: black;
    box-shadow: 1px 5px 30px rgb(163, 255, 231);
}

.btn:hover{
    cursor: pointer;
    background-position: right;
}

.login h2{
    font-size: 2.0rem;
}

.login h3{
    font-size: 1.6rem;
}

.desc{
    font-size: 1.5rem;
}

/*Section Insere Ajuste*/

#insere-ajuste{
    width: 100%;
    margin: 30px 0;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    background-color: rgb(167,252,230);
}

.info-insere-ajuste{
    width: 50%;
    height: 50px;
    border-radius: 10px;
}

.info-insere-ajuste p{
    display: inline-block;
}

.info-user{
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
}

.info-profile{
    width: 50%;
    height: 100%;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}

#menu-insere-ajuste{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 0 auto;
}

.form{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form > table{
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    border-spacing: 0;
    background-color: rgba(167,252,230, 0.5);
}

.form h3{    
    width: 150px;
    height: 25px;
    position: relative;
    top: 15px;
    margin-left: 130px;
    text-align: center;
    border-radius: 30px;
    background-color: white;
    font-size: 1.9rem;
}

#form-insere-ajuste th{
    text-align: left;
    padding: 15px 0;
}

#select-justify{
    height: 40px;
}

#btn-insere-hora, #btn-voltar, #btn-env-analise, #btn-consultar, #btn-insere-ajuste{
    width: 150px;
    margin: 10px;
    margin-left: 0;
    border-radius: 10px;
    outline: none;
}

#table-info-insere-horas{
    border: 1px solid rgb(167,252,230);
}

#table-info-insere-horas th, #table-info-insere-horas td{
    border: 0.5px solid #ccc;
    border-spacing: 0;
    text-align: center;
}

#lista-horas{
    margin-top: 30px;
}

#table-info-insere-horas td{
    padding: 5px;
}

.icon-opcoes img{
    width: 18px;
}

.icon-opcoes img:first-child{
    width: 19px;
}

#legenda-insere-ajuste th{
    width: 50px;

}

#td-btn-voltar, #td-btn-env-analise{
    padding-top: 15px;
}

/*Edição Reajuste Trabalhador*/

#form-edicao-reajuste{
    text-align: left;
}

/*Reajuste Trabalhador*/

#form-insere-reajuste{
    height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fa-exclamation-circle{    
    font-size: 3.0rem;
    margin: 3.0rem;
}

#btn-insere-ajuste{
    position: absolute;
    margin-top: 13.0rem;
}

/*Visualiza Reajuste Trabalhador*/

#form-visualiza-reajuste{
    text-align: left;
}

.status{
    height: 40px;
    padding: 0 !important;
    margin: 0 auto !important;
    text-align: center;
}

#legenda-visualiza-reajuste img{
    margin-left: 20px;
}

/*Seleciona Perfil*/

#form-seleciona-perfil{
    height: 400px;
    text-align: left;
}

#form-seleciona-perfil select{
    width: 300px;
}

/*>>> CADASTRA-SE <<<*/
#bCadastrase{
    width: 80vw;
    height: 80vh;

    position: absolute;
    top: calc(50% - 40vh);
    left: calc(50% - 40vw);    

    border-radius: 15px;
    box-shadow: -5px -5px 10px aqua,
    5px 5px 15px rgb(55, 169, 250);
}

title{
    display: block;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    margin: 40px auto;
    padding: 5px 0;
    background-color: aqua;

    font-family: 'Open Sans', sans-serif;
    font-size: 2.0rem;
    font-weight: 300;
    text-align: center;
}


#form-cadastrese{
    margin-top: 100px;
    align-items: flex-start;
    justify-content: space-evenly;
}

#form-cad-dp{
    width: 30%;
    height: 60vh;

    margin: 0 10.0rem;
    padding: 20px;

    box-shadow: 1px 1px 10px #ccc,
    -1px -1px 10px #ccc,
    -1px 1px 10px  #ccc,
    1px -1px 10px #ccc;
    border-radius: 5px;
    background-color: rgb(248, 248, 248);

    font-family: 'Open Sans', sans-serif;
}

#form-cad-login{
    width: 30%;
    height: 32vh;

    float: right;
    margin: 0 10.0rem;
    padding: 20px;

    box-shadow: 1px 1px 10px #ccc,
    -1px -1px 10px #ccc,
    -1px 1px 10px  #ccc,
    1px -1px 10px #ccc;
    border-radius: 5px;
    background-color: rgb(248, 248, 248);

    font-family: 'Open Sans', sans-serif;
}

#form-cad-login input, #form-cad-dp input{
    background-image: none;
    margin: 0;
    padding: 5px 0;
    border-radius: 0;
}

#form-cad-login p, #form-cad-dp p{
    margin-top: 10px;
}

#erroCad{
    display: none;
}

.sub-login-cad{
    margin: 10px 0;
}

/*>>> MOBILE <<<*/

@media screen and (max-width: 1251px){
    #central{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info-container{
        width: 80%;
    }

    .form-seleciona-perfil{
        text-align: left !important;
    }
}

@media screen and (max-width: 881px){
    .info-container{
        width: 100%;
    }
}

@media screen and (max-width: 426px){
    #central{
        width: 100%;
    }

    .form{
        width: 80%;
        height: 300px;
    }

    .form h2{        
        font-size: 1.5rem;
        padding: 10px 20px;
    }

    .form span{
        font-size: 1.5rem;
    }

    .input-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input-container span{
        width: 50px;
        margin-right: 10px;
        margin-left: 0;
    }
}

@media screen and (max-width: 809px){
    #links-login{
        flex-direction: column;
    }
    #links-login a{
        margin-top: 15px;
    }
}

@media screen and (max-width: 685px){
    form{
        flex-direction: column;
    }

    .effect-form{
        width: 80%;
    }

    div.login{
        max-width: none;

        margin: 20px 0;
    }
    #links-login{
        flex-direction: row;
    }

    .desc{
        max-width: none;
    }

    .digital{
        width: 80px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 445px){
    html{
        font-size: 50%;
    } 

    .digital{
        width: 60px;
    }

    .input{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto !important;
        margin-top: 20px !important;
    }
    #links-login{
        flex-direction: column;
    }
}

@media screen and(max-width: 388px){
    form{
        height: 100vh !important;
    }
}